# .dockerignore
# Node
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Development
.git
.gitignore
*.md
.eslintrc
.prettierrc
coverage
test

# IDE
.vscode
.idea

# System
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore
docker-compose*

# Build
dist
build
*.log